{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main %}
    <main class="page login-page">
        <section class="clean-block clean-form dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Crer un nouvel article</h2>
                </div>
                {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}
            </div>
        </section>
    </main>

{% endblock %}
